.homeContent__wrapper {
    scroll-snap-align: start;
}

.homeContent__div {
    background: rgb(62, 0, 155);
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    word-break: break-all;

}

.homeContent__text__div {
    margin: 15px auto 30px auto;
    max-width: 1000px;
    color: white;
    text-align: center;
}

.homeContent__text__div > p {
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media only screen and (min-width: 1200px) {
    .homeContent__wrapper {
        scroll-snap-align: start;
        scroll-margin: -190px;
    }
    
}